@model IEnumerable<Models.OperationResult>





<p>
   
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArgumentCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Arguments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Result)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExecTimeMs)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
    </tr>

@foreach (var item in Model) {
@Html.Partial("Item", item)
}

</table>
